#container {
  text-align: center;
  margin-bottom:50px; 
  
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
#hub {
  border:3px solid gray; 
  padding:0px 2px; 
  border-radius:5px; 
}
ion-toolbar h1 {
  margin-left:5%; 
}